body {
  font-family: sans-serif;
  margin: 0;
  margin-right: 0;
  margin-left: 0;
}

h1{
  text-align: center;
}

header {
      background-color: #606699;
      color: white;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
.logo {
      font-size: 1.5em;
      font-weight: bold;
    }

.log {
  margin-top: 1em;
  font-family: monospace;
}

input[type=range] {
  width: 100%;
}
